{% extends "base.html" %}
{% load static %}

{% block meta %}
  <!-- On Page META SEO -->
  <title>{% block page_title %} Ai Coding Bots {% endblock %}</title>
  <meta name="description" content="{% block description %}Coding Bot, which uses Ai to Generate & Fix Code.{% endblock %}">
  <meta name="keywords" content="{% block keywords %}OpenAi, text-davinci-003, Coding, Django, Python{% endblock %}">
{% endblock meta %}

{% block page_head %}
        <!-- Prism CSS -->
    <link rel="stylesheet" href="{% static 'styles/code/prism.css' %}">
{% endblock %}

{% block body %}
<body class="bg-black">
    <!-- Alpine.js for Tab Active Animation -->
    <!-- <div x-data="{ activeTab: '{{ request.resolver_match.view_name }}' }" class="d-flex justify-content-center">
        <ul class="nav nav-tabs fs-6 fw-bold">
        <li class="nav-item">
            <a class="nav-link" href="#" x-bind:class="{ 'active': activeTab === 'ai:gpt_code' }">Ai: Code</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" x-bind:class="{ 'active': activeTab === 'ai:gpt_debug' }">Ai: Debug</a>
        </li>
        </ul>
    </div> -->

        <div class="bg-secondary bg-opacity-25 p-5">
            <div class="text-white text-center">

                <div class="fs-1 fw-bold mb-2">
                    <i class="text-success fa-solid fa-code fa-lg"></i><i class="text-warning fa-solid fa-code fa-lg"></i>
                </div>

                <h1 class="text-center"><b>{{Page_Title}}</b></h1>
            </div>
<pre>
            {% if response %}
<code class="line-numbers language-{{language}}">
{{response|safe}}
</code>
            {% else %}
<code class="line-numbers language-python">




</code>
            {% endif %}
</pre>
            <form class="p-4" method=POST action="{% url 'ai:gpt_code' %}">
                {% csrf_token %}
                <select class="form-select mb-4" name="language">
                    <option selected>Select a Programming Language</option>
                    {% for language in languages %}
                        <option value="{{language}}">{{language}}</option>
                    {% endfor %}
                </select>
                <!-- <textarea class="form-control" name="code" placeholder="Debug a Code" rows="5"></textarea> -->
                <textarea class="form-control mb-4" name="code" placeholder="{{Page_Placeholder}}" rows="5" onkeydown="if(event.keyCode==9){event.preventDefault();this.value+=String.fromCharCode(9);}"></textarea>
                <div class="col-auto text-white mb-4">
                    <button type="submit" class="btn btn-secondary w-100 fw-bold fs-3">
                        <i class="text-warning fa-solid fa-bolt fa-md"></i>
                        PROMPT
                        <i class="text-warning fa-solid fa-bolt fa-md"></i>
                    </button>
                </div>
                <div class="text-end text-danger">🤖<i class="fa-regular fa-eye"></i>🧠</div>
            </form>
        </div>
    </div>

    </br>
    <div class="p-5 text-white">
        {{content|safe}}
    </div>
</body>
{% endblock %}

{% block page_js %}
        <!-- Prism -->
    <script type="text/javascript" src="{% static 'styles/code/prism.js' %}"></script>
{% endblock page_js %}
