{% load static %}
<section>

    <div class="card bg-dark bg-opacity-50 p-4">
        <div class="row mb-3">

            <div class="col-md-3 p-2">
                <a class="card-link" href="{% url 'ai:gpt_code' %}">
                    <h1>Web & Software</h1>
                    <p class="p-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel sem turpis. Nulla sodales ut tellus at ornare. 
                        Fusce sit amet arcu sed libero posuere porta at ornare velit. Cras finibus euismod arcu at porttitor. Ut consequat 
                        quam sit amet maximus interdum. Proin vel tempus nulla, luctus venenatis diam. Pellentesque semper nec nunc quis 
                        facilisis. Duis elit dui, euismod vel elit feugiat, convallis dapibus sem. Etiam fermentum accumsan congue. Proin 
                        quis facilisis est. Suspendisse finibus consectetur est, pellentesque aliquam lacus. Proin porttitor et nibh eu fermentum. 
                        Etiam imperdiet purus sed tempor rhoncus. Nullam consectetur, dui et lacinia tempor, tellus mauris consequat urna, sed 
                        tempor urna justo.
                        <div class="row">
                            <div class="p-4 text-center">
                                <a class="btn btn-lg btn-outline-info fw-bold" href="{% url 'website:Landing' %}">Development</a>
                            </div>
                        </div>
                    </p>
                </a>
            </div>

            <div class="col-md-3 bg-info bg-opacity-50 p-4">
                <a class="card-link" href="{% url 'ai:gpt_code' %}">
                    <h3><i class="fa-brands fa-python text-info"></i> Python</h3>
                    <p class="p-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel sem turpis. Nulla sodales ut tellus at ornare. 
                        Fusce sit amet arcu sed libero posuere porta at ornare velit. Cras finibus euismod arcu at porttitor. Ut consequat 
                        quam sit amet maximus interdum. Proin vel tempus nulla, luctus venenatis diam. 
                    </p>
                </a>
                <a class="card-link" href="{% url 'ai:gpt_code' %}">
                    <h3><i class="fa-brands fa-js text-warning"></i> JavaScript</h3>
                    <p class="p-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel sem turpis. Nulla sodales ut tellus at ornare. 
                        Fusce sit amet arcu sed libero posuere porta at ornare velit. Cras finibus euismod arcu at porttitor. Ut consequat 
                        quam sit amet maximus interdum. Proin vel tempus nulla, luctus venenatis diam. Proin vel tempus nulla, luctus venenatis diam.
                    </p>
                </a>
            </div>

            <div class="col-md-6 p-2">
                <a class="card-link" href="growth-delta.com">
                    <h1>DATA SCIENCE</h1>
                    <p class="p-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel sem turpis. Nulla sodales ut tellus at ornare. 
                        Fusce sit amet arcu sed libero posuere porta at ornare velit. Cras finibus euismod arcu at porttitor. Ut consequat 
                        quam sit amet maximus interdum. Proin vel tempus nulla, luctus venenatis diam. Pellentesque semper nec nunc quis 
                        facilisis. Duis elit dui, euismod vel elit feugiat, convallis dapibus sem. Etiam fermentum accumsan congue. Proin 
                        quis facilisis est. Suspendisse finibus consectetur est, pellentesque aliquam lacus. Proin porttitor et nibh eu fermentum. 
                        Etiam imperdiet purus sed tempor rhoncus. Nullam consectetur, dui et lacinia tempor, tellus mauris.
                        <div class="row">
                            <a href="growth-delta.com"><img class="img-fluid" src="{% static 'images/photos/protein.png' %}" style="height: auto; width: auto;"></a>
                            <div class="p-4 text-center">
                                <a class="btn btn-lg btn-outline-info fw-bold" href="growth-delta.com"><i class="fa-solid fa-earth-americas"></i> <b class="text-white">Macro Intelligence</b> <i class="fa-solid fa-binoculars"></i></a>
                            </div>
                        </div>
                    </p>
                </a>
            </div>

        </div>
        <!-- <div class="row col-md card bg-primary bg-opacity-25 p-2">
            <a href="{% url 'website:Landing' %}"><img class="img-fluid" src="{% static 'images/photos/protein.png' %}" style="height: auto; width: auto;"></a>
        </div> -->
    </div>
</section>