{% load static %}
<section>
    <div class="card bg-dark bg-opacity-50 p-4">
        <div class="row mb-3">
            <div class="col-md-3 p-2">

                <h1>Web</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel sem turpis. Nulla sodales ut tellus at ornare. 
                    Fusce sit amet arcu sed libero posuere porta at ornare velit. Cras finibus euismod arcu at porttitor. Ut consequat 
                    quam sit amet maximus interdum. Proin vel tempus nulla, luctus venenatis diam. Pellentesque semper nec nunc quis 
                    facilisis. Duis elit dui, euismod vel elit feugiat, convallis dapibus sem. Etiam fermentum accumsan congue. Proin 
                    quis facilisis est. Suspendisse finibus consectetur est, pellentesque aliquam lacus. Proin porttitor et nibh eu fermentum. 
                    Etiam imperdiet purus sed tempor rhoncus. Nullam consectetur, dui et lacinia tempor, tellus mauris consequat urna, sed 
                    tempor urna justo sed metus.
                </p>

            </div>
            <div class="col-md-3 card bg-info bg-opacity-50 p-2">
                
                <h1>Python</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel sem turpis. Nulla sodales ut tellus at ornare. 
                    Fusce sit amet arcu sed libero posuere porta at ornare velit. Cras finibus euismod arcu at porttitor. Ut consequat 
                    quam sit amet maximus interdum. Proin vel tempus nulla, luctus venenatis diam. Pellentesque semper nec nunc quis 
                    facilisis. Duis elit dui, euismod vel elit feugiat, convallis dapibus sem. Etiam fermentum accumsan congue. Proin 
                    quis facilisis est. Suspendisse finibus consectetur est, pellentesque aliquam lacus. Proin porttitor et nibh eu fermentum. 
                    Etiam imperdiet purus sed tempor rhoncus. Nullam consectetur, dui et lacinia tempor, tellus mauris consequat urna, sed 
                    tempor urna justo sed metus.
                </p>
            </div>
            <div class="col-md-6 p-2">
                
                <h1>DATA</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel sem turpis. Nulla sodales ut tellus at ornare. 
                    Fusce sit amet arcu sed libero posuere porta at ornare velit. Cras finibus euismod arcu at porttitor. Ut consequat 
                    quam sit amet maximus interdum. Proin vel tempus nulla, luctus venenatis diam. Pellentesque semper nec nunc quis 
                    facilisis. Duis elit dui, euismod vel elit feugiat, convallis dapibus sem. Etiam fermentum accumsan congue. Proin 
                    quis facilisis est. Suspendisse finibus consectetur est, pellentesque aliquam lacus. Proin porttitor et nibh eu fermentum. 
                    Etiam imperdiet purus sed tempor rhoncus. Nullam consectetur, dui et lacinia tempor, tellus mauris consequat urna, sed 
                    tempor urna justo sed metus.
                </p>
            </div>
        </div>
        <div class="row col-md card bg-primary bg-opacity-25 p-2">
            <a href="{% url 'website:Landing' %}"><img class="img-fluid" src="{% static 'images/graphics/protein.png' %}" style="height: auto; width: auto;"></a>
        </div>
    </div>
</section>